= tinymce_assets
= tinymce
= form_for question do |f|
  .form-group
    = f.label :headline, "Overskrift:"
    = f.text_field :headline, class: "form-control"
  .form-group
    = f.label :text, "Teksten til:"
    = f.text_area :text, placeholder: "Indtast teksten her", class: "form-control question-text-area tinymce"
  %hr/
  .border-image
    = f.submit button_text, class: "btn btn-primary"
