<div class="col-lg-10">
	<h2><%= question.headline %></h2>
	<p class=""><%= question.text %></p> 
</div>
<div class="col-lg-1">
		<%= link_to image_tag("arrow-up"), question_vote_path(question, "up"), remote: true, class: "question-arrows" %>
		<h4 class="text-center"><%= question.vote_count.to_s %></h4>		
		<%= link_to image_tag("arrow-down"), question_vote_path(question, "down"), remote: true, class: "question-arrows" %>
		<%= link_to image_tag("delete-cross"), question_path(question), method: :delete %>
</div>

