<% unless @user_vote.nil? %>
	<% binding.pry %>
	<%= link_to "SLET STEMME", question_delete_vote_path(question, user_vote.id), method: :delete, remote: true %>
<% end %>
<div class="col-lg-10">
	<h2><%= question.headline %></h2>
	<p class=""><%= question.text.html_safe %></p> 
</div>
<div class="col-lg-1">
		<% if @user_vote.nil? %>
			<%= link_to image_tag("arrow-up"), question_vote_path(question, "up"), remote: true, class: "question-arrows" %>
		<% end %>
		<h4 class="text-center"><%= question.vote_count.to_s %></h4>		
		<% if @user_vote.nil? %>
			<%= link_to image_tag("arrow-down"), question_vote_path(question, "down"), remote: true, class: "question-arrows" %>
		<% end %>
</div>
<div class="col-lg-10">
	<div class="comment-wrapper row">
		<%= render partial: "comments/comment", locals: {comments: comments} %>
		<%= content_tag :div, (link_to "Tilføj kommentar", new_question_comment_path(question.id), remote: true, class: "btn btn-secondary"), class: "new-comment col-lg-12" %>
	<div class="comment-error"></div>
	</div>
</div>

<script type="text/javascript"> 
$(".question-wrapper").on("keyup paste", "#messageField", function() {
	var $length = $("#messageField").val().length;
	$("#messageCounter").text( (300 - $length) + " karakterer tilbage" );
});
</script>
