<div class="row my-4">	

</div>
<div class="question-wrapper row">

<div class="col-lg-10">
	<h2><%= @question.headline %></h2>
	<p class=""><%= @question.text %></p> 
</div>
<div class="col-lg-1">
		<%= link_to image_tag("arrow-up"), question_vote_path(@question, "up"), remote: true, class: "question-arrows" %>
		<h4 class="text-center"><%= @question.vote_count.to_s %></h4>		
		<%= link_to image_tag("arrow-down"), question_vote_path(@question, "down"), remote: true, class: "question-arrows" %>
		<% unless @user_vote.nil? %>
			<%= link_to image_tag("delete-cross"), question_delete_vote_path(@question, @user_vote.id), method: :delete, remote: true %>
		<% end %>
</div>
<div class="col-lg-10">
	<div class="comment-wrapper"></div>
	<%= link_to "Tilføj kommentar", new_question_comment_path(@question.id), remote: true, class: "btn btn-secondary" %>
</div>

</div>
