<% if !works.blank? %>
<h2 class="text-center search-header">værker</h2>
<hr>
<div class="row">
	<% works.each do |work| %>
	<div class="col-sm-6 col-md-4 col-lg-3 search-result-wrapper">
		<%= link_to user_work_path(work.user_id, work) do %>
		<div class="search-result">
			<p class="lead"><%= work.title %></p>
			<p><%= truncate( work.body, length: 100 ) %></p>
		</div>
		<% end %>
	</div>
	<% end %>
</div>
<% end %>

<% if !users.blank? %>
<h2 class="text-center search-header">jer</h2>
<hr>
<div class="row">
	<% users.each do |user| %>
	<div class="col-sm-6 col-md-4 col-lg-3 search-result-wrapper">
		<%= link_to user_path(user) do %>
		<div class="search-result">
			<p class="lead"><%= user.username %></p>
			<p class="text-muted"><%= user.works.published.length %> udgivet værker</p>
		</div>
		<% end %>
	</div>
	<% end %>
</div>
<% end %>


<% if users.blank? && works.blank? %>
<p class="text-center lead">
	Vi kunne desværre ikke finde noget under "<%= params[:search] %>"
</p>
<% end %>


