<div class="search-result-wrapper">
	<div class="search-results">

		<% unless works.blank? %>
			<%= render partial: "users/user_works", locals: {works: works, edit: nil, extra_class: nil} %>
		<% end %>

		<% unless users.blank? %>
		<h2 class="user-work-header black">skrivere <span class="small">under '<%= params[:search] %>':</span></h2>
		<div class="row">
			<% users.each do |user| %>
			<div class="col-sm-6 col-md-4 col-lg-3 search-result-wrapper">
				<% if current_user && current_user.id == user.id %>
					<%= link_to user_biblo_path(user) do %>
					<div class="search-result">
						<p class="lead"><%= user.username %></p>
						<p class="text-muted">
							<%= "værker(#{user.works.published.length})" unless user.works.published.empty? %>
						</p>
					</div>
					<% end %>

				<% else %>
					<%= link_to user_path(user) do %>
					<div class="search-result">
						<p class="lead"><%= user.username %></p>
						<p class="text-muted">
							<%= "værker(#{user.works.published.length})" unless user.works.published.empty? %>
						</p>
					</div>
					<% end %>
				<% end %>
			</div>
			<% end %>
		</div>
		<% end %>


		<% if users.blank? && works.blank? %>
		<p class="text-center lead search-no-find">
			Intet var at finde under "<%= params[:search] %>"
		</p>
		<% end %>

	</div>
</div>