<%= javascript_include_tag "search_ajax" %>
<div class="col-lg-12 main">
	<% headline = params[:maerker_id].nil? ? "MAERKER" : @maerke.title %>
	<%= render partial: "shared/search_header", locals: {site: headline, autofocus: false} %>
	<div class="row search-results-load hide-it">
		<%= image_tag "sweig-logo-load", class: "loading-icon" %>
	</div>

	<div class="row search-results mb-4">
		
	<div class="row my-4 py-4">
		<% @maerker.each do |m| %>
			<% next if count = m.works.count == 0 %>
			<%= link_to show_maerke_works_path(m.id), remote: true, class: "label-info float-left #{'label-active' if params[:maerker_id] == m.slug}" do %>
		 		<span class="small tag-count"><%= m.works.count %></span> <%= m.title %>
			<% end %>
		 <% end %>
	 </div>
</div><!-- search-result -->	
	 <div class="row mt-4 maerker-result">
	 	<%= render partial: "shared/show_works", locals: {works: @works} unless @works.blank? %>
	</div>
</div>


<script type="text/javascript">
	$(".label-info").click(function() {
		$(this).addClass('label-active').siblings().removeClass('label-active');
	});
</script>
