<!-- navbar button -->
<div class="row forside-bil-tekst-wrapper">
	<div class="col-md-6 forside-bil tab-content">	

		<%= image_tag "baggrund-til-sweig-logo-skarpt", class: "billeder active logo-background sweig-bil", role: "tabpanel" %>
		<%= image_tag "laese-app", class: "billeder hide-it logo-background app-bil", role: "tabpanel" %>
		<%= image_tag "udgivelser", class: "billeder hide-it logo-background udgivelser-bil", role: "tabpanel" %>
		<%= image_tag "biddrag", class: "billeder hide-it logo-background biddrag-bil", role: "tabpanel" %>

	</div>
	<div class="col-md-6 tekst-wrapper-forside">
		<div class="row">
			<ul class="nav nav-tabs frontpage-navbar-wrapper" role="tablist">
				<li role="presentation" class="forside-tekst-overskrift">
					<a href="#sweig" aria-controls="sweig" class="active" id="sweig-bil" role="tab" data-toggle="tab">Sweig</a>
				</li>
				<li role="presentation" class="forside-tekst-overskrift">
					<a href="#udgivelser" aria-controls="udgivelser" id="udgivelser-bil" role="tab" data-toggle="tab">udgivelser</a>
				</li>
				<li role="presentation" class="forside-tekst-overskrift">
					<a href="#app" aria-controls="app" id="app-bil" role="tab" data-toggle="tab">læse-app</a>
				</li>
				<li role="presentation" class="forside-tekst-overskrift">
					<a href="#biddrag" aria-controls="biddrag" id="biddrag-bil" role="tab" data-toggle="tab">biddrag</a>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane tekst-forside lead active" id="sweig">Sweig er bygget for at udbrede litteraturen i verden.<br>
				Som arena, som platform, som hjemsted for dine værker, bestræber vi os på at skabe det bedste rum for det skrevne ord. <br>
				</div>
				<div role="tabpanel" class="tab-pane tekst-forside lead" id="udgivelser">Hver måned udvælger juryen et antal værker, som bliver mulige at købe i fysisk form eller at downloade her på siden. Man kan også tilmelde sig, så man får tilsendt udgivelsen hver måned. <br><br>
				Første udgivelse forventes i januar 2018.</div>
				<div role="tabpanel" class="tab-pane tekst-forside lead" id="app">Til december vil det være muligt at tilgå sin profil via en app, der gør det lettere at bruge Sweig fra mobile enheder. </div>
				<div role="tabpanel" class="tab-pane tekst-forside lead" id="biddrag">Har du lyst til at biddrage til udbredelsen og forbedringen af Sweig, så er du meget velkommen til at <span class="forside-tekst-skrift" data-toggle="modal" data-target="#myModal"><u>tage kontakt</u></span> <br><br>
	 				<%= render partial: "shared/tag_kontakt" %>
 				</div>
			</div>
		</div>

	</div>

	<script type="text/javascript">
	// Til billederne
		jQuery(document).ready(function($) {
				$(".forside-tekst-overskrift a").click(function(e) {
				e.preventDefault();
					id = $(this).attr("id");
					$("." + id ).show().siblings().hide();
			});		
		});
	</script>


