<!-- navbar button -->
<div class="row forside forside-bil-tekst-wrapper">

  <div class="col-md-6 forside-bil">	

    <%= image_tag "baggrund-til-sweig-logo-skarpt", class: "billeder active logo-background sweig-bil", id: "mainImage",role: "tabpanel" %>
    <%= image_tag "bruger", class: "billeder hide-it logo-background app-bil", role: "tabpanel" %>
    <%= image_tag "udgivelser", class: "billeder hide-it logo-background hvordan-bil", role: "tabpanel" %>

  </div>
  <div class="col-md-6 mt-4">

    <div class="row mt-4 nav nav-tabs" role="tablist">
      <div role="presentation" class="forside-tekst-overskrift ">
        <a href="#sweig" aria-controls="sweig" class="active" id="sweig-bil" role="tab" data-toggle="tab">Sweig</a>
      </div>
      <div role="presentation" class="forside-tekst-overskrift ">
        <a href="#hvordan" aria-controls="hvordan" id="hvordan-bil" role="tab" data-toggle="tab">læs</a>
      </div>
      <div role="presentation" class="forside-tekst-overskrift ">
        <a href="#app" aria-controls="app" id="app-bil" role="tab" data-toggle="tab">bruger</a>
      </div>

    </div><!-- frontpage-menu-wrapper -->

    <div class="row">
      <div class="tab-content">
        <p role="tabpanel" class="text-center-md tab-pane tekst-forside active" id="sweig">Sweig er et åbent tidsskrift for litteratur.</p>
        <p role="tabpanel" class="text-center-md tab-pane tekst-forside" id="hvordan">Under LÆS kan du både søge, se nyeste og bruge mærker til at finde værker. Hvert værk har sit eget læse-vindue.<br><%= link_to "Gå til læs", nyeste_path() %>
        <p role="tabpanel" class="text-center-md tab-pane tekst-forside" id="app">Hvis du ønsker at gemme værker, følge andre brugere eller selv at kunne udgive, skal du oprette en bruger. <br><%= link_to "Gå til opret", new_user_registration_path(), class: "active" %>


      </div>
    </div>
  </div><!-- col-md-6 -->

  <hr> 

  <div class="col-12 paper">
    <h3 class="text-center">Otte tilfældige:</h3>
    <div class="row">
      <%= render partial: 'works/work', collection: @works %>
    </div>
  </div>

</div><!-- row forside-bil-tekst-wrapper -->

<script type="text/javascript">
  $(document).ready(function($) {
    $("#mainImage").animate({opacity: 1.0}, 1300);
    $(".forside-tekst-overskrift a").click(function(e) {
      e.preventDefault();
      id = $(this).attr("id");
      $("." + id ).show().siblings().hide();
    });
    $("#cookieSet").click(function() {
      $(".new-update").hide();
    })
  });		
</script>
