<%= session_helper_social %>
<%= image_tag "http://placehold.it/1300x450" %>



<%= form_tag(root_path, :method => "get", id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Søg efter værk" %>
	<%= submit_tag "Søg" %>
<% end %>

<div class="large-10 large-offset-1 column">
	<%= render @works %>
</div>

</div><!-- row finished -->
<div class="row">
	<h5>Vores nyeste brugere</h5>		

	<%= render partial: "user_overview", 
				collection: @users_for_overview, 
				spacer_template: "shared/spacer" %>

</div>