

<%= render partial: "shared/what_is_sweig" %>
<%= render partial: "shared/sign_in_button" %>

<div class="logo-wrapper">
	<div class="frontpage-nav">
		<div class="" data-toggle="modal" data-target="#myModal">
			<%= fa_icon "user-o", id: "FrontpageUserButton"%>	
		</div>
		<div class="" data-toggle="modal" data-target="#whatIsSweigModal">
			<%= fa_icon "question", id: "WhatIsSweig"%>	
		</div>
	</div>
	<div class="logo-text">
		<%= image_tag "baggrund-til-sweig-logo", id: "LogoBackground" %>
		<% if user_signed_in? %>
				<div class="user-logged-in-entrance">
			<%= link_to user_path(current_user) do %>
					<h5>Gå til</h5><br>
					<h2>MIT</h2>
			<% end %>
				</div>
		<% end %>
		<h1>sweig</h1>
		<p class="roboto-mono">det skrevne ord</p>
		<%= fa_icon "search" %>
	</div>
</div>
