<div class="row mt-3 mb-3">
  <div class="col-12 text-center"><%= link_to "ALLE MÆRKER", alle_maerker_path(), class: "#{if_active_helper(alle_maerker_path())}"%></div>
</div>
<div class="read-grid">
  <% @works.each do |work| %>
    <div class="read-grid-work item blog">
      <div class="content">
        <h6 class="read-username"><%= link_to_user_helper work.user, "| #{work.user.username.parameterize}" %></h6>
        <% unless work.all_tags_in_s.blank? %>
          <% work.all_tags_in_s.split(",").each do |tag| %>
            <small class="small-marks"><%= link_to tag, show_this_maerker_path(tag.parameterize, work.id) %></small>
          <% end %>
        <% end %>
        <%= link_to user_work_path(work.user.friendly_id, work.friendly_id), class: "work-text" do %>
        <p class="lead">
          <%= work.title %>
        </p>
        <div class="text-left user-work-overview">
          <%= strip_html_work_helper work.body %>
        </div>
        <% end %><!-- user_work_path_link -->
      </div><!-- content -->
    </div><!-- read-grid-work -->
  <% end %>
</div><!-- grid-read -->

<%= javascript_include_tag "search_ajax" %>
