<div class="col-lg-12">
	<% if @work.errors.any? %> 
	<div class="alert-box secondary">
		<% @work.errors.each do |attr, msg| %>
		<p class="text-center lead"><%= msg %></p>
		<% end %>
	</div>
	<% end %>
	<% unless flash[:errors].nil? %> 
	<div class="alert-box secondary">
		<% flash[:errors].each do |attr, error| %>
		<%= content_tag :p, error.first, class: "text-center lead" %>
		<% end %>
	</div>
	<% end %>


	
	<%= form_for [@user, @work] do |f| %>
	<%= f.hidden_field :username, value: @user.username %>
	<div class="col-lg-12 text-center bootstrap-tagsinput">
		<div class="text-center tag-info">Mærker er automatisk med store bogstaver. Lær mere: <%= fa_icon "info-circle", data: {toggle: "tooltip"}, title: "Mærker er en måde, hvorpå du kan tildele dine værker en kategori. Maksimalt 5 mærker per værk og et værk må højest være 30 tegn langt.", id: "markInfo" %>
		</div>
		<%= f.text_field :all_tags_in_s, value: f.object.all_tags_in_s, data: {role: "tagsinput"}, placeholder: "Skriv et mærke" %>
	</div>
	<div class="form-save">
		<span class="border-image">
			<%= f.submit "Gem som kladde", class: "btn btn-primary" %>
		</span>
		<span class="border-image">		
			<%= f.submit "Udgiv", name: "status", class: "btn btn-primary" %>
		</span>
	</div>

	<div class="title">
		<%= f.text_field :title %>
	</div>

	<div class="row body">
		<div class="offset-md-1 col-md-10">
			<%= f.text_area :body %>
		</div>
	</div>


	<% end %>

</div>

<script type="text/javascript">

	$(document).ready(function() {
		$(".body textarea").autosize();
		$('[data-toggle="tooltip"]').tooltip();

	});
</script>
