<%= fa_icon "angle-down", id: "NavbarToggle", class: "rotatedefault" %>

<div class="show-navbar ">

  <%= render partial: "works/flash_notice" if flash.present? || params[:notice] %>
  <div class="row show-navbar-inner">

    <% unless is_current_user? %>
      <%= link_to "|" + user.username, user_path(user.friendly_id), class: "hidden-md-down show-work-navbar-btn" %>
    <% end %>
    <div class="mit-menu hide-it hiddden-md-down"></div>
    <%= link_to "LÆS", nyeste_path(), class: "hidden-md-down show-work-navbar-btn" %>

    <!-- GEM / GEMT -->
    <% if user_signed_in? && !is_current_user? && !is_work_already_saved_helper?(current_user.saved_works, work) %>
      <%= link_to "GEM",
        user_work_current_user_save_path(user, work, current_user),
        class: "show-work-navbar-btn hidden-md-down",
        data: {toggle: "tooltip"}, title: "Gem dette værk til din SAMLING" 
      %>
    <!-- Hvis du er logget ind, og du har gemt -->
  <% elsif user_signed_in? && is_work_already_saved_helper?(current_user.saved_works, work)  %>
    <%= link_to "GEMT",
      user_work_delete_current_user_save_path(user, work, current_user),
      method: :delete,
      class: "hidden-md-down show-work-navbar-btn green-icon",
      data: {toggle: "tooltip"},title: "Dette værk er gemt. Tryk for at fjerne det fra dine gemte." 
    %>
<% end %>
<!-- GEM / GEMT END -->
<!-- MAERKER -->
    <% unless work.all_tags_in_s.blank? %>
      <%= link_to "M", "#",
        data: {toggle: "tooltip"},
        title: "Vis værkets mærker",
        class: "maerker-btn hidden-md-down show-work-navbar-btn" 
      %>
      <div class="maerker hidden-md-down hide-it">
        <% work.all_tags_in_s.split(",").each do |tag| %>
          <span class="maerke"><%= link_to tag, show_this_maerker_path(tag.parameterize, work.id) %></span>
        <% end %>
      </div>
    <% end %>
<!-- MAERKER END -->
  </div>
</div>
<div class="mit-close hide-it"></div>
<div class="mit-menu hide-it hiddden-md-down">
  <div class="col-md-12">
    <%= link_to "LÆS", nyeste_path(), class: "hidden-lg-up nav-link text-center modal-header-links" %>
  </div>
  <% unless is_current_user? %>
    <div class="col-md-12">
      <%= link_to "|" + user.username, user_path(user.id), class: "hidden-lg-up nav-link text-center modal-header-links" %>
    </div>
  <% end %>
  <% if current_user %>
    <% if user_signed_in? && !is_current_user? && !is_work_already_saved_helper?(current_user.saved_works, work) %>
      <div class="col-md-12">
        <%= link_to fa_icon("save", text: "GEM TIL DIN SAMLING"), user_work_current_user_save_path(user, work, current_user), class: "nav-link text-center modal-header-links hidden-lg-up", data: {toggle: "tooltip"}, title: "Gem dette værk til din SAMLING" %>
      </div>

      <!-- Hvis du er logget ind, og du har gemt -->
    <% elsif user_signed_in? && is_work_already_saved_helper?(current_user.saved_works, work)  %>
      <div class="col-md-12">
        <%= link_to fa_icon("save", text: "SLET FRA DINE GEMTE"), user_work_delete_current_user_save_path(user, work, current_user), method: :delete, class: "nav-link red-icon text-center modal-header-links hidden-lg-up", data: {toggle: "tooltip"},title: "Dette værk er gemt. Tryk for at fjerne det fra dine gemte." %>
      </div>
    <% end %><!-- skal kun vises, hvis man er logget ind selvfølfelig -->
    <% if is_current_user? %>
      <div class="col-md-12">
        <%= link_to fa_icon("pencil", text: " REDIGER", right: true), edit_user_work_path(user.friendly_id, work.friendly_id), class: "nav-link text-center modal-header-links" %>
      </div>
    <% end %>
    <%= render partial: "shared/user_menu" %>
  <% end %><!-- current_user -->
  <div class="col-md-12 hidden-lg-up">
    <% unless work.all_tags_in_s.blank? %>
      <% work.all_tags_in_s.split(",").each do |tag| %>
        <span class="maerke maerke-mobil"><%= link_to tag, show_this_maerker_path(tag.parameterize, work.id) %></span>
      <% end %>
    <% end %>
  </div>
</div><!-- mit-menu -->
