<%= link_to "Gå tilbage til profil", @user,  class: "col-lg-12" %>
<div class="col-lg-12">
<% if @work.errors.any? %>
	<div data-alert class="alert-box secondary">
	<a href="#" class="close">&times;</a>
		<% @work.errors.full_messages.each do |error| %>
			<p class="text-center"><%= error %></p>
		<% end %>
	</div>
<% end %>
<%= form_for [@user, @work] do |f| %>

	<div class="title">
		<%= f.text_field :title %>
	</div>

	<div class="body">
		<%= f.text_area :body %>
	</div>

	<div class="form-save">
		<%= f.submit "Gem som kladde", class: "btn btn-secondary" %>
		<%= f.submit "Udgiv", name: "status", class: "btn btn-primary" %>
	</div>

<% end %>
  
</div>