<%= link_to "Gå tilbage til profil", @user,  class: "button primary" %>
<% if @work.errors.any? %>
<div data-alert class="alert-box secondary">
<a href="#" class="close">&times;</a>
	<% @work.errors.full_messages.each do |error| %>
		<p class="text-center"><%= error %></p>
	<% end %>
</div>
<% end %>
<%= form_for [@user, @work] do |f| %>

		<%= f.label "Overskrift" %>
		<%= f.text_field :title %>

		<%= f.label "Tekst" %>
		<%= f.text_area :body %>

		<%= f.submit "Gem som kladde", class: "button secondary" %>
		<%= f.submit "published", name: "status", class: "button primary" %>

<% end %>
  
<!--<%= render partial: "work-form", locals: {work: @work} %>-->

