<!-- TIL FACEBOOK --> 
<% content_for :facebook_title, @work.title %>
<% content_for :facebook_description, truncate(@work.body, length: 75) %>
<input type="hidden" id="currentUserId" val="<%= current_user.id %>">
<div class="col-lg-12 work-show-outer">
	<div class="show-navbar">
		<%= 
		fa_icon "angle-down", 
		id: "NavbarToggle", 
		class: "#{cookies[:navbar_work] == "down" ? "rotate180deg" : "rotatedefault"}" 
			%>
			<div class="show-navbar-inner <%= "hide-it" if cookies[:navbar_work] == "up" %>">
				<%= link_to (fa_icon "times"), user_path(@user), class: "float-left exit-icon" %>

				<% if current_user %>
				<%= link_to "MIT", user_path(current_user), class: "mit-sign" %>
				<% end %>

				<span class="divider">|</span>
				<!-- Hvis du er logget ind, og du ikke har gemt -->
				<% if current_user && !is_work_already_saved_helper?(current_user.saved_works, @work) %>
				<%= link_to (fa_icon "save"), user_work_current_user_save_path(@user, @work, current_user), class: "float-right social-icons save-icon" %>
				<!-- Hvis du er logget ind, og du har gemt -->
				<% elsif current_user && is_work_already_saved_helper?(current_user.saved_works, @work)  %>
				<%= link_to (fa_icon "save"), user_work_delete_current_user_save_path(@user, @work, current_user), method: :delete, class: "float-right social-icons save-icon green-icon" %>

				<!-- Hvis du ikke er logget ind -->
				<% elsif !current_user %>
				Du er ikke logget ind, og kan ikke gemme
				<% end %>
			</div>
		</div>

		<% if notice %>
		<div class="alert row text-center">
			<div class="offset-lg-4 col-lg-4">
				<div data-dismiss="alert" class="notice-exit float-right"><%= fa_icon "times" %></div>
				<%= notice %>
			</div>
		</div>
		<% end %>

		<div class="title">
			<h2 class="show-title"><%= @work.title %></h2>
		</div>
		<div class="body">
			<div class="show-body"><%= simple_format( @work.body ) %></div>
		</div>

	</div>

	
	 <div class="social-share">
	 <%= social_share_button_tag( @work.title, desc: truncate(@work.body, length: 75), url: original_url_helper ) %>
	 </div>


<script type="text/javascript">
	$(document).ready(function(){
		$("#NavbarToggle").click(function() {
			$(this).toggleClass('rotate180deg');
			$(this).toggleClass('rotatedefault');
			$(".show-navbar-inner").slideToggle(300);
		});
	});


</script>
<% if user_signed_in? %>
<script type="text/javascript">
	$(document).ready(function() {
		NavbarCookie = '<%= cookies[:navbar_work] %>';
		CurrentUserId = '<%= current_user.id %>';
		$("#NavbarToggle").click(function() {
			$.ajax({
				url: '/users/' + CurrentUserId + '/works/navbar_cookie',
				beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
				type: 'PUT',
				data: { navbar_cookie: NavbarCookie, user_id: CurrentUserId }
			});		
		});
	});
</script>
<% end %>


	



