
<div class="col-lg-12 work-show-outer">

			<%= fa_icon "angle-down", id: "NavbarToggle", class: "rotate180deg" %>
	<div class="show-navbar border-bottom">

			<div class="row show-navbar-inner">
				<%= link_to_user_helper(@user, "|#{@user.username.parameterize}", "float-left exit-icon") %>
				<span class="divider float-left">|</span>
					<%= link_to "MIT", user_biblo_path(current_user), class: "mit-sign" if current_user %>
				<%= content_tag :span, "|", class: "divider float-left" if current_user %>

				<!-- Hvis du er logget ind, og du ikke har gemt -->
				<% if user_signed_in? && !is_current_user? && !is_work_already_saved_helper?(current_user.saved_works, @work) %>
					<%= link_to (fa_icon "save"), user_work_current_user_save_path(@user, @work, current_user), class: "float-right social-icons save-icon", title: "Gem dette værk" %>
					<span class="divider">|</span>

				<!-- Hvis du er logget ind, og du har gemt -->
				<% elsif user_signed_in? && is_work_already_saved_helper?(current_user.saved_works, @work)  %>
					<%= link_to (fa_icon "save"), user_work_delete_current_user_save_path(@user, @work, current_user), method: :delete, class: "float-right social-icons save-icon green-icon", title: "Fjern dette værk fra dine gemte" %>
					<span class="divider">|</span>
				<!-- hvis det er dit værk -->
				<% elsif is_current_user?  %>
					
				<% else %>
				<!-- Hvis du ikke er logget ind -->

					<p class="d-inline-block center-block lead text-center work-show-not-logged-in-text"><u><%= link_to "Opret dig", new_user_registration_path()%></u><span class="hidden-xs-down"> eller <u><%= link_to "log ind", new_user_session_path() %></u> for at gemme værker</span></p>

				<% end %>
				<% if notice %>
				<div class="min-alert text-center">
						<p class="d-inline-block"><%= notice %></p>
				</div>
				<% end %>
				

			</div>
		</div>
		<div class="social-share">

		</div>	

		

		<div class="title">
			<h2 class="show-title"><%= @work.title %></h2>
		</div>
		<div class="body">
			<div class="show-body"><%= simple_format( @work.body ) %></div>
		</div>

	</div> 

	<%= render partial: "shared/not_copying_modal" %><!-- #notCopying -->
	<script type="text/javascript">


		$(document).ready(function(){
			$("#NavbarToggle").click(function() {
				$(this).toggleClass('rotate180deg');
				$(this).toggleClass('rotatedefault');
				$(".show-navbar-inner").toggle();
				$(".show-navbar").toggleClass('border-bottom');
			});			
		});


	</script>

	<% unless current_user && current_user.id == @user.id %>
	<script type="text/javascript">
		$('body').bind('copy paste cut',function(e) {
			e.preventDefault();
			$("#notCopying").modal("show");
		});
		$(".url").on("click", function() {
			$(".show-url").slideToggle(300);
		})

	</script>
	<% end %>


	



