<div class="col-lg-12 work-show-outer">

	<%= fa_icon "angle-down", id: "NavbarToggle", class: "rotate180deg" %>
	<div class="show-navbar border-bottom">

		<div class="row show-navbar-inner">
			<% unless is_current_user? %>
			<%= link_to "|" + @user.username, user_path(@user.id), class: "hidden-md-down show-work-navbar-btn" %>
			<% end %>
			<%= link_to "LÆS", nyeste_path(), class: "hidden-md-down show-work-navbar-btn" %>
			<%= link_to fa_icon("bars"), "#",class: "mit-sign hidden-lg-up show-work-navbar-btn" %>
			<% if current_user %>
			<%= link_to "MIT", "#", class: "mit-sign hidden-md-down show-work-navbar-btn" %>
			
			<% unless @work.all_tags_in_s.blank? %>
				<%= link_to "M", "#", data: {toggle: "tooltip"}, title: "Vis værkets mærker", class: "maerker-btn hidden-md-down show-work-navbar-btn" %>
				<div class="maerker hidden-md-down hide-it">
						<% @work.all_tags_in_s.split(",").each do |tag| %>
							<span class="maerke"><%= link_to tag, show_this_maerker_path(tag.parameterize, @work.id) %></span>
						<% end %>
				</div>
			<% end %>
			<% end %>
			<!-- Hvis du er logget ind, og du ikke har gemt -->
			<% if user_signed_in? && !is_current_user? && !is_work_already_saved_helper?(current_user.saved_works, @work) %>
			<%= link_to "GEM", user_work_current_user_save_path(@user, @work, current_user), class: "show-work-navbar-btn hidden-md-down float-right", data: {toggle: "tooltip"}, title: "Gem dette værk til din SAMLING" %>

			<!-- Hvis du er logget ind, og du har gemt -->
			<% elsif user_signed_in? && is_work_already_saved_helper?(current_user.saved_works, @work)  %>
			<%= link_to "GEMT", user_work_delete_current_user_save_path(@user, @work, current_user), method: :delete, class: "hidden-md-down show-work-navbar-btn float-right green-icon", data: {toggle: "tooltip"},title: "Dette værk er gemt. Tryk for at fjerne det fra dine gemte." %>
	
			<% else %>

			<% end %>

			<% if !notice && !current_user %>
				<p class="mb-0 ml-4 show-work-navbar-btn text-center"><u><%= link_to "Opret dig", new_user_registration_path()%></u> eller <u><%= link_to "log ind", new_user_session_path() %></u> <span class="hidden-sm-down"> for at gemme værker</span></p>
			<% elsif notice %>
				<div class="min-alert text-center">
					<p class="d-inline-block"><%= notice %></p>
				</div>
			<% end %> 


		</div>
	</div>
	<div class="mit-close hide-it"></div>
	<div class="mit-menu hide-it hiddden-md-down">
		<div class="col-md-12">
			<%= link_to "LÆS", nyeste_path(), class: "hidden-lg-up nav-link text-center modal-header-links" %>
		</div>
		<% unless is_current_user? %>
		<div class="col-md-12">
		<%= link_to "|" + @user.username, user_path(@user.id), class: "hidden-lg-up nav-link text-center modal-header-links" %>
		</div>
		<% end %>
	<% if current_user %>
		<% if user_signed_in? && !is_current_user? && !is_work_already_saved_helper?(current_user.saved_works, @work) %>
		<div class="col-md-12">
			<%= link_to fa_icon("save", text: "GEM TIL DIN SAMLING"), user_work_current_user_save_path(@user, @work, current_user), class: "nav-link text-center modal-header-links hidden-lg-up", data: {toggle: "tooltip"}, title: "Gem dette værk til din SAMLING" %>
		</div>

		<!-- Hvis du er logget ind, og du har gemt -->
		<% elsif user_signed_in? && is_work_already_saved_helper?(current_user.saved_works, @work)  %>
		<div class="col-md-12">
		<%= link_to fa_icon("save", text: "SLET FRA DINE GEMTE"), user_work_delete_current_user_save_path(@user, @work, current_user), method: :delete, class: "nav-link red-icon text-center modal-header-links hidden-lg-up", data: {toggle: "tooltip"},title: "Dette værk er gemt. Tryk for at fjerne det fra dine gemte." %>
		</div>
		<% end %><!-- skal kun vises, hvis man er logget ind selvfølfelig -->
		<%= render partial: "shared/user_menu" %>
		<div class="col-md-12 hidden-lg-up">
			<% unless @work.all_tags_in_s.blank? %>
				<% @work.all_tags_in_s.split(",").each do |tag| %>
					<span class="maerke maerke-mobil"><%= link_to tag, show_this_maerker_path(tag.parameterize, @work.id) %></span>
				<% end %>
			<% end %>
		</div>
	<% end %>
	</div><!-- mit-menu -->

<div class="container work-view">
	<div class="title">
		<h2 class="show-title"><%= @work.title %></h2>
	</div>
	<div class="body">
		<div class="show-body"><%= @work.body.html_safe %></div>
	</div>
</div>
</div> 

<%= render partial: "shared/not_copying_modal" %><!-- #notCopying -->
<script type="text/javascript">


	$(document).ready(function(){
		$(".maerker-btn").on("click", function() {
			$(".maerker").toggle();
			$(this).toggleClass('active-mit');
			$(this).attr('data-original-title', function(index, attr) {
				return attr == "Vis værkets mærker" ? "Fjern mærker" : "Vis værkets mærker" // Fed kode!
			}).tooltip('show');
		});
		$("#NavbarToggle").click(function() {
			$(this).toggleClass('rotate180deg');
			$(this).toggleClass('rotatedefault');
			$(".show-navbar-inner").toggle();
			$(".show-navbar").toggleClass('border-bottom');
			$(".mit-menu, .mit-close").slideUp(300);
			$(".mit-sign").toggleClass('active-mit');
		});			
		$(".mit-sign, .mit-close").click(function() {
			$(".mit-menu, .mit-close").slideToggle(300);
			$(".mit-sign").removeClass('active-mit');
		});
		$('[data-toggle="tooltip"').tooltip({
			trigger: "hover"
		});
	});


</script>

<% unless current_user && current_user.id == @user.id %>
<script type="text/javascript">
	$('body').bind('copy paste cut',function(e) {
		e.preventDefault();
		$("#notCopying").modal("show");
	});
	$(".url").on("click", function() {
		$(".show-url").slideToggle(300);
	})

</script>
<% end %>






