%div{:class => "row #{extra_class unless extra_class.nil?}"}
  - works.each do |work|
    .works-show-wrapper.col-12.col-sm-4.col-md-4.col-lg-3
      .works-show-box
        = link_to (fa_icon "times"), user_work_delete_current_user_save_path(work.user, work, @user, user_page: "user_page"), method: :delete, class: "float-right destroy_saved_work", title: "Fjern dette værk fra dine gemte", data: {confirm: "Er du sikker på, at du vil slette '#{work.title}'"}
        %h6= link_to_user_helper work.user, "| #{work.user.username.parameterize}"
        - unless work.all_tags_in_s.blank?
          - work.all_tags_in_s.split(",").each do |tag|
            %small.small-marks= link_to tag, show_this_maerker_path(tag.parameterize, work.id)
        = link_to user_work_path(work.user.friendly_id, work.friendly_id), class: "work-text" do
          %p.lead
            = work.title
          .text-left.user-work-overview
            = strip_html_work_helper work.body
        / user_work_path_link
      / works-show-box
    / col-xs-6
  / works.each
