<div class="row <%= extra_class unless extra_class.nil? %>">
	<% works.each do |work| %>
	<div class="col-xs-6 works-show-wrapper col-sm-4 col-md-3">
		<div class="works-show-box">
			<% if edit %>
				<%= content_tag :div, (work_options_icon_helper @user, work, arrow), class: "edit-icons-wrapper" %>
			<% else %>
				<h6><%= link_to_user_helper work.user, "| #{work.user.username.parameterize}" %></h6>
			<% end %>
			<% unless work.all_tags_in_s.blank? %>
				<% work.all_tags_in_s.split(",").each do |tag| %>
					<small class="small-marks"><%= link_to tag, show_this_maerker_path(tag.parameterize, work.id) %></small>
				<% end %>
			<% end %>
		<%= link_to user_work_path(work.user.id, work), class: "work-text" do %>
			<p class="lead">
				<%= work.title %>
			</p>
			<span class="text-left">
				<%= simple_format( truncate(work.body, length: 80) ) %>
			</span>
		<% end %><!-- user_work_path_link -->
		</div><!-- works-show-box -->
	</div><!-- col-xs-6 -->
	<% end %><!-- works.each -->
</div>

