<div class="col-lg-8 foelger">
	<div class="col-lg-12 text-right">
		<%= @user.followers.count %> FOELGER <span class="small"><%= @user.username.parameterize %></span>
	</div>
	<div class="col-lg-12 text-right"> 
		<span class="small">
			<%= @user.username.parameterize %>
				
			</span> 
		FOELGER 
		<span class="small">selv</span> 
		<%= @user.following.count %>
	</div>
</div>

<% unless current_user.id == user.id %>
	<% if user.followers? current_user %>
		<%= link_to unfollow_user_path(user), remote: true, class: "border-image float-left foelger-img col-lg-4" do %>	
		<%= image_tag "sweig-minus", class: "foelger-img py-1 px-1", height: "55px" %>
		<% end %>
	<% else %>
		<%= link_to follow_user_path(user), remote: true, class: "border-image float-left foelger-img col-lg-4" do %>	
		<%= image_tag "sweig-plus", class: "foelger-img pt-1" %>
		<% end %>
	<% end %>
<% end %>
