<div class="row <%= extra_class unless extra_class.nil? %>">
	<% works.each do |work| %>
	<div class=" works-show-wrapper col-12 col-sm-4 col-md-4 col-lg-3">
		<div class="works-show-box">
			<% if edit %>
				<%= content_tag :div, (work_options_icon_helper @user, work, arrow), class: "edit-icons-wrapper" %>
			<% else %>
				<h6><%= link_to_user_helper work.user, "| #{work.user.username.parameterize}" %></h6>
			<% end %>
			<% unless work.all_tags_in_s.blank? %>
				<% work.all_tags_in_s.split(",").each do |tag| %>
					<small class="small-marks"><%= link_to tag, show_this_maerker_path(tag.parameterize, work.id) %></small>
				<% end %>
			<% end %>
		<%= link_to user_work_path(work.user.friendly_id, work.friendly_id), class: "work-text" do %>
			<p class="lead">
				<%= work.title %>
			</p>
			<div class="text-left user-work-overview">
				<%= truncate(strip_tags(simple_format(work.body.html_safe)), length: 80) %>
			</div>
		<% end %><!-- user_work_path_link -->
		</div><!-- works-show-box -->
	</div><!-- col-xs-6 -->
	<% end %><!-- works.each -->
</div>
