<!-- TIL REMOTE FOLLOWERS PATH -->
<div id="FollowersModal"></div>
<div class="col-lg-12 text-center">
	<%= link_to followers_user_path(@user), remote: true, class: "col-lg-12 text-right text-foelger" do %>
			<% if is_current_user? %>
				<%= @user.followers.count %> FOELGER <span class="small">dig</span>
			<% else %>
				<%= @user.followers.count %> FOELGER <span class="small"><%= @user.username.parameterize %></span>
			<% end %>			
	<% end %>
	<div class="border-image mt-4 foelger">
		<%= render partial: "foelg_or_not_opret", locals: {user: @user} %>
	</div><!-- border-image -->

	<%= link_to following_user_path(@user), remote: true, class: "col-lg-12 text-right text-foelger" do %>
		<% if is_current_user? %>
			<span class="small">du</span> FOELGER <%= @user.following.count %>
		<% else %>
			<span class="small"><%= @user.username.parameterize %></span> FOELGER <%= @user.following.count %>
		<% end %>
	<% end %>
</div>


