<%= render partial: "user_navbar", locals: {user: @user} %>
<h1 class="text-center"><%= link_to "|#{@user.username.parameterize}", user_path(@user) %></h1>
<%= render partial: "foelger_bar", locals: {user: @user} %>
<hr>

<% if @stories.empty? %>
	<h2 class="mt-4 user-work-header">Biblo</h2>
	<div class="row user-work-wrapper pt-4">
		<p class="lead offset-lg-2 col-lg-8 text-center">
			<strong>BIBLO</strong> er siden, hvor du bliver underettet om de skrivere, som du FØLGER.
			<br>Tryk på <%= image_tag "sweig-plus", height: "20px", width: "20px" %> på en skrivers profil for at FOELGE.
		</p>
	</div>
<% else %>
	<h2 class="mt-4 user-work-header black">Biblo</h2>
	<div class="biblo-wrapper">
		<%= render partial: "stories", locals: {stories: @stories, stories_length: @stories_length} %>
	</div>
<% end %>
