<%= render partial: "foelger_bar", locals: {user: @user} %>
<%= render partial: "user_navbar", locals: {user: @user} %>


<div class="col-lg-12 main saved-works-wrapper">
  <% if @saved_works.any? %>
    <div class="row">
      <div class="col-lg-10">
        <h2 class="user-work-header black">Gemte værker</h2>	
      </div>
      <div class="col-lg-2">
        <%# <h4 class="user-work-header"> Vis offentligt?  </h4> %>
        <%# <%= form_tag user_saved_works_publicity_path(), remote: :true do %1> %>
        <%#   <%= check_box_tag :toggle_publicity %1> %>
        <%# <% end %1> %>
      </div>
    </div>
    <%= render partial: "users/saved_works", locals: {works: @saved_works, extra_class: "user-work-wrapper"} %>
  <% else %>
    <h2 class="user-work-header">Gemte værker</h2>
    <p class="py-4 text-center lead user-work-wrapper">Du har ikke gemt nogle værker endnu
      <br>Brug <%= fa_icon "save" %> under læsning.<br>
      ( Dine gemte bliver vist offentligt )
    </p>
  <% end %><!-- !@saved_works.any? -->
</div>

