<%= render partial: "user_navbar", locals: {user: @user} if is_current_user? %>

<div class="col-md-12 main">
	<% unless  @user.saved_works.empty? %>
		<%= alert_notice_helper %>
		<h2>Gemte værker</h2>
		<hr>
		<div class="row placeholders">
			<% @saved_works.each do |work| %>
				<div class="col-xs-6 col-sm-3 col-md-3 placeholder">
				<h6><%= link_to "| #{work.user.username.parameterize}", user_path(work.user) %></h6>
				<%= link_to user_work_path(work.user, work) do %>
					<h4 class="text-left"><%= work.title %></h4>
					<span class="text-left">
						<%= simple_format( truncate(work.body, length: 80) ) %>
					</span>
				<% end %>
				</div>

			<% end %><!-- works.each -->
		</div>
	<% else %>
		<p class="text-center lead">Du har ingen gemte endnu</p class="lead">
		<p class="text-center">Tryk på <%= fa_icon "save" %> for at gemme. Du finder den i menuen over et værk.</p>

	<% end %>
</div>
