<%= render partial: "follow_unfollow_username", locals: {user: @user} %> 
<%= render partial: "foelger_bar", locals: {user: @user} %>
<div class="col-lg-12 main">
		
	<% if @published_works.any?  %>
	<h2 class="mt-4 user-work-header black">Udgivet</h2>
	<%= render partial: "user_works", 
	locals: {works: @published_works, arrow: "down", user: @user, extra_class: "user-work-wrapper", edit: nil} %>
	<% else  %>
	<h2 class="mt-4 user-work-header">Udgivelser</h2>
		<div class="pt-4 pb-3 text-center lead user-work-wrapper"><%= @user.username %> har ikke udgivet noget.		</div><!-- text-center lead -->
	<% end %> 


	<% if @saved_works.any? %>
		<h2 class="mt-4 user-work-header black">Gemte værker</h2>
		<%= render partial: "user_works", 
		locals: {works: @saved_works, arrow: "up", user: @user, extra_class: "user-work-wrapper", edit: nil} %>
	<% else  %>
		<h2 class="mt-4 user-work-header">Gemte værker</h2>
		<div class="pt-4 pb-3 text-center lead user-work-wrapper"><%= @user.username %> har ikke gemt nogle værker.
		</div><!-- text-center lead -->

	<% end %>
</div>


