<h1 class="text-center"><%= link_to "|#{@user.username.parameterize}", user_path(@user) %></h1>
<%= render partial: "foelger_bar", locals: {user: @user} %>
<hr>
<%= render partial: "user_navbar", locals: {user: @user} %>


	<% if @biblo.empty? %>
	<h2 class="mt-4 user-work-header">Biblo</h2>
		<div class="row user-work-wrapper pt-4">
		<p class="lead offset-lg-2 col-lg-8 text-center">
		<strong>BIBLO</strong> er siden, hvor du bliver underettet om de skrivere, som du FOELGER.
		<br>Tryk på <%= image_tag "sweig-plus", height: "20px", width: "20px" %> på en skrivers profil for at FOELGE.
		</p>
		</div>
	<% else %>
	<h2 class="mt-4 user-work-header black">Biblo</h2>
	<div class="row user-work-wrapper pt-4">
		<% @biblo.each do |work| %>
		<div class="col-lg-12 biblo">
			<p class="text-center">
				<%= work.username %> har oprettet et nyt værk: <%= link_to "\"" + work.title + "\"", user_work_path(work.user_id, work.friendly_id) %>		
			</p>
			<p class="small text-center">
				<%= distance_of_time_in_words(Time.now, work.created_at) %> siden	
			</p>
		</div>
		<% end %>
	<% end %>
	</div>
