
<%= render partial: "foelger_bar", locals: {user: @user} %>
<%= render partial: "user_navbar", locals: {user: @user} %>

<div class="row">
	<% if @biblo.empty? %>
		<p class="lead offset-lg-2 col-lg-8 text-center">
		<strong>BIBLO</strong> er siden, hvor du bliver underettet om de skrivere, som du FOELGER.
		<br>Tryk på <%= image_tag "sweig-plus", height: "20px", width: "20px" %> på en skrivers profil for at FOELGE.
		</p>
	<% else %>
		<% @biblo.each do |work| %>
		<p class="offset-lg-2 col-lg-8 text-center">
			<%= work.username %> har oprettet et nyt værk: <%= link_to "\"" + work.title + "\"", user_work_path(work.user_id, work.friendly_id) %>		
		</p>
		<p class="small offset-lg-2 col-lg-8 text-center">
			<%= distance_of_time_in_words(Time.now, work.created_at) %> siden	
		</p>
		<% end %>
	<% end %>
</div>