<h1 class="username"><%= "|" + @user.username.parameterize %></h1>
<%= render partial: "user_navbar", locals: {user: @user} if is_current_user? %>

<div class="col-lg-12 main">
	<%= alert_notice_helper %>

	<% if !@published_works.empty? %>
		<h2 class="text-center">Udgivet</h2>
		<hr>
		<%= render partial: "user_works", 
		locals: {works: @published_works, arrow: "down", user: @user} %>
	<% end %>

	<% if !@draft_works.empty? && is_current_user? %>
		<h2 class="text-center">Kladder</h2>
		<hr>
		<%= render partial: "user_works", 
		locals: {works: @draft_works, arrow: "up", user: @user} %>
	<% end %>

	<% if @draft_works.empty? && @published_works.empty? %>
	<p class="text-center lead">Du har ingen værker endnu</p>
	<% end %>
</div>


