<div class="log-content opret-log-in-wrapper">
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, id: "flash_#{name}", class: "text-center lead" %>
  <% end %>
  <div class="tab-content clearfix">
    <div class="log-body-inner log-in-body tab-pane fade in show active" id="signInField">
      <div class="offset-md-4 col-md-4">

        <%= form_for(resource, as: resource_name, user_password_path(resource_name), html: { method: :put }) do |f| %>

        <%= f.hidden_field :reset_password_token %>

        <div class="form-group pt-4">
          <%= f.label :password, "Nyt kodeord" %>
          <% if @minimum_password_length %>
          <small>(minimum <%= @minimum_password_length %> tegn)</small><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Tast dit kodeord igen" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
        <div class="actions">
          <div class="col-md-12 text-center">
            <div class="border-image">
              <%= f.submit "Skift dit kodeord", class: "btn btn-primary" %>
            </div>
          </div>

        <% end %>
        <hr>
        <p class="text-center">
          <%= link_to "Log ind", new_user_session_path(), class: "forside-tekst-overskrift" %><br />
          <%= link_to "Opret dig", new_user_registration_path(), class: "forside-tekst-overskrift" %><br />
        </p>

      </div>
    </div>
  </div>
</div>
