<div class="log-content opret-log-in-wrapper">
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, id: "flash_#{name}", class: "text-center lead" %>
	<% end %>
	<div class="tab-content clearfix">
		<div class="log-body-inner log-in-body tab-pane fade in show active" id="signInField">
	<h1 class="lead text-center">Har du glemt dit kodeord?</h1>
			<div class="offset-lg-4 col-lg-4 offset-md-2 col-md-8 offset-sm-1 col-sm-10">
				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				<%= devise_error_messages! %>

				<div class="form-group">
					<%= f.label :email %><br />
					<%= f.email_field :email, autofocus: true, class: "form-control" %>
				</div>

				<div class="actions">
					<div class="col-md-12 text-center">
						<div class="border-image">
							<%= f.submit "Send mig en instruks", class: "btn btn-primary" %>
						</div>
					</div>
				</div>
				<% end %>
				<hr>
				<p class="text-center">
				<%= link_to "Log ind", new_user_session_path(), class: "forside-tekst-overskrift text-uppercase"%><br />
				</p>

			</div>
		</div>
	</div>
</div>

