<!-- Husk en div med id: "Followers" i det vindue, som skal have funktionen -->
<div class="modal fade" id="Followers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <% if following %>
          <h4 class="modal-title border-image" id="FollowersOverskrift">
            <%= @user.username %> FOELGER <%= followers.length %>
          </h4>
        <% else %>
          <h4 class="modal-title border-image" id="FollowersOverskrift">
            <%= followers.length %> FOELGER <%= @user.username %>
          </h4>
        <% end %>
      </div>
      <div class="modal-body p-4">
        <% followers.each do |follower| %>
          <div class="row follower">
            <h4 class="col-md-8">
              <% if follower.id == current_user.id %>
                <%= link_to "| #{follower.username} | #{follower.works.published_works.length} værker", user_biblo_path(current_user.friendly_id)  %>  
                
              <% else %>
                <%= link_to "| #{follower.username} | #{follower.works.published_works.length} værker", user_path(follower.friendly_id)  %>  
              <% end %>
            </h4>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
</div>
