	<div class="container frontpage-navbar-wrapper">
		<div class="row">
			<%= link_to root_path do %>
			<%= image_tag "lille-sweig-tilbage", class: "lille-sweig-tilbage #{"hide-it" if current_page?("/")}" %>
			<% end %>
			<div class="col-md-4 text-center">
				<%= link_to "NYT", nyt_path(), class: "#{if_active_helper(nyt_path())}" %>	
			</div>
			<div class="col-md-4 text-center">
				<div class="search-field">
					<%= text_field_tag :search, params[:search], placeholder: "søg her..", class: "form-control soege-felt", id: "soegeFelt" %>
				</div>
			</div>
			<div class="col-md-4 text-center">
				<% if user_signed_in? %>
				<%= link_to "MIT", user_path(current_user.id), class: "#{if_active_helper( user_path(current_user.id))}" %><span class="small">eller</span>< <%= link_to "LOG UD", destroy_user_session_path(), method: :delete %>

				<% else %>
				<%= link_to "LOG-IN", new_user_session_path(), class: "#{if_active_helper( log_in_path())}" %> 
				<span class="small">eller</span> 
				<%= link_to "OPRET", new_user_registration_path(), class: "#{if_active_helper( oprettelse_path())}" %>
				<% end %>
			</div>
		</div>	
	</div>
