<div id="FollowersModal"></div>
<div class="row mobil-menu hidden-lg-up">
	<div class="col-4">	
		<%= link_to fa_icon("bars"), "#", id: "menuBar", class: "mit-sign show-work-navbar-btn" %>
	</div>
	<div class="col-4 text-center">	
		<%= link_to forside_path do %>
			<%= image_tag "lille-sweig-tilbage", class: "mobil-menu-bil lille-sweig-tilbage #{"d-none" if current_page?("/velkommen")}" %>
		<% end %>
	</div>
	<div class="col-4 text-right">
		<%= link_to "LÆS", laes_path(), class: "#{if_active_helper( laes_path() )}" %>
	</div>

</div>
<div class="row mobil-menu-dropdown hide-it hidden-lg-up">
	<% if user_signed_in? %>
	<%= render partial: "shared/user_menu" if current_user %>
	<div class="row">
		<div class="col-6 pr-0 float-left">
			<%= link_to "DU FØLGER", following_user_path(current_user), remote: true, class: "nav-link text-center modal-header-links followmobileleft" %>
		</div>
		<div class="col-6 pl-0 float-left">
			<%= link_to "FØLGER DIG", followers_user_path(current_user), remote: true, class: "nav-link text-center modal-header-links followmobileright" %>
		</div>
	</div>
	<div class="col-md-12">
		<%= link_to "LOG UD", destroy_user_session_path(), class: "nav-link text-center modal-header-links", method: :delete %> 
	</div>
	<% else %>
	<div class="col-md-12">
		<%= link_to "LOG IND", new_user_session_path(), class: "nav-link text-center modal-header-links #{if_active_helper( new_user_session_path())}" %> 
	</div>
	<div class="col-md-12">
		<%= link_to "OPRET", new_user_registration_path(), class: "nav-link text-center modal-header-links #{if_active_helper( new_user_registration_path())}" %>
	</div>
	<% end %><!-- user_signed_in? -->
</div><!-- mobil-menu-dropdown -->

<div class="row frontpage-navbar-wrapper hidden-md-down ">
	<%= link_to forside_path do %>
	<%= image_tag "lille-sweig-tilbage", class: "lille-sweig-tilbage #{"d-none" if current_page?("/velkommen")}" %>
	<% end %>
	<div class="col-md-4 text-center">
		<%= link_to "LÆS", laes_path(), class: "#{if_active_helper( laes_path() )}" %>
	</div>
	<div class="col-md-4 text-center">
		<% if user_signed_in? %>
		<%= link_to "|" + current_user.username, user_biblo_path(current_user.friendly_id), class: "text-uppercase #{if_active_helper( user_biblo_path(current_user.friendly_id))}" %>
	</div>
	<div class="col-md-4 text-center">
		<%= link_to "LOG UD", destroy_user_session_path(), method: :delete %> 
	</div>
		<% else %>
		<%= link_to "LOG IND", new_user_session_path(), class: "#{if_active_helper( new_user_session_path())}" %> 
	</div>
	<div class="col-md-4 text-center">
		<%= link_to "OPRET", new_user_registration_path(), class: "#{if_active_helper( new_user_registration_path())}" %>
	</div>
	<% end %><!-- user_signed_in? -->
	
</div>	

<script type="text/javascript">
	$("#menuBar").on("click", function() {
		$(".mobil-menu-dropdown").slideToggle(300);
	})
</script>
