<div class="row mobil-menu hidden-lg-up">
	<div class="col-8">
		<%= link_to fa_icon("bars"), "#", id: "menuBar", class: "mit-sign hidden-lg-up show-work-navbar-btn" %>
	</div>
	<div class="col-4 text-center">
		<%= link_to "LÆS", nyeste_path(), class: "#{if_active_helper( nyeste_path() )}" %>
	</div>

</div>
<div class="mobil-menu-dropdown hidden-lg-up">
	<%= render partial: "shared/user_menu" %>
</div>
<div class="row frontpage-navbar-wrapper hidden-md-down ">
	<%= link_to forside_path do %>
	<%= image_tag "lille-sweig-tilbage", class: "lille-sweig-tilbage #{"d-none" if current_page?("/velkommen")}" %>
	<% end %>
	<div class="col-md-4 text-center">
		<%= link_to "LÆS", nyeste_path(), class: "#{if_active_helper( nyeste_path() )}" %>
	</div>
	<div class="col-md-4 text-center">
		<% if user_signed_in? %>
		<%= link_to "|" + current_user.username, user_biblo_path(current_user.friendly_id), class: "text-uppercase #{if_active_helper( user_biblo_path(current_user.friendly_id))}" %>
	</div>
	<div class="col-md-4 text-center">
		<%= link_to "LOG UD", destroy_user_session_path(), method: :delete %> 
	</div>
		<% else %>
		<%= link_to "LOG IND", new_user_session_path(), class: "#{if_active_helper( new_user_session_path())}" %> 
	</div>
	<div class="col-md-4 text-center">
		<%= link_to "OPRET", new_user_registration_path(), class: "#{if_active_helper( new_user_registration_path())}" %>
	</div>
	<% end %><!-- user_signed_in? -->
	
</div>	

<script type="text/javascript">
	$("#menuBar").on("click", function() {
		$(".mobil-menu-dropdown").slideToggle(300);
	})
</script>