	<div class="container frontpage-navbar-wrapper">
		<div class="row">
			<% unless current_page?("/") %>
				<%= link_to root_path do %>
					<%= image_tag "lille-sweig-tilbage", class: "lille-sweig-tilbage" %>
				<% end %>
			<% end %>
			<div class="col-md-4 text-center">
				<%= link_to "NYT", nyt_path(), class: "#{if_active_helper(nyt_path())}" %>	
			</div>
			<div class="col-md-4 text-center">
				<%= link_to "LÆS", laes_path(), class: "#{if_active_helper(laes_path())}"%>	
			</div>
			<div class="col-md-4 text-center">
			<% if user_signed_in? %>
				<%= link_to "MIT", user_path(current_user.id), class: "#{if_active_helper( user_path(current_user.id))}" %><span class="small">eller</span>< <%= link_to "LOG UD", destroy_user_session_path(), method: :delete %>

			<% else %>
				<%= link_to "LOG-IN", log_in_path(), class: "#{if_active_helper( log_in_path())}" %> 
				<span class="small">eller</span> 
				<%= link_to "OPRET", oprettelse_path(), class: "#{if_active_helper( oprettelse_path())}" %>
			<% end %>
			</div>
		</div>	
	</div>
