.search-field.text-center.row
  .col-12
    %h1.text-center.find-headline= site
    = text_field_tag :search, params[:search], class: "d-inline-block soege-felt", id: "soegeFelt", autofocus: false, placeholder: "Søg.."
    = fa_icon "info-circle", data: {toggle: "tooltip"},role: "button", title: "Søg i mærker, titler, tekster og brugere.", class: "hidden-sm-down"
  .col-6.text-right-md-up.text-center-md-down.nopadding
    %span.small.hidden-sm-down eller:
    = link_to "se nyeste ", nyeste_path(), class: "under-search-btn #{'underline' if site == 'NYESTE'}"
  .col-6.text-left-md-up.text-center-md-down.nopadding
    %span.hidden-sm-down.pl-1 /
    = link_to "mærker", alle_maerker_path(), class: "under-search-btn  #{'underline' if site == "MAERKER"}"
:javascript
  $('[data-toggle="tooltip"]').tooltip();
