<% works.each do |work| %>
<div class="col-sm-6 col-md-4 col-lg-3 search-result-wrapper">
	<h6>Skrevet af: <%= link_to "| #{work.user.username.parameterize}", user_biblo_path(work.user) %></h6>
	<%= link_to user_work_path(work.user_id, work) do %>
	<div class="search-result">
		<p class="lead"><%= work.title %></p>

			<%= content_tag :p, truncate(work.body, length: 30) %>
		<span class="small"><%= ".ord(#{work.body.split(" ").length})" %></span>
		<span class="small"><%= ".gemt(#{work_saved = work.saved_works.length}-#{work_saved > 1 ? "gange" : "gang"})" if work.saved_works.any? %></span>

	</div>
	<% end %>

</div>
<% end %>
