.col-md-12
  = link_to "BIBLO", user_biblo_path(current_user.friendly_id), class: "nav-link text-center modal-header-links #{if_active_link_helper user_biblo_path(current_user.friendly_id)}"
.col-md-12
  = link_to "SAMLING", user_saved_works_path(current_user), class: "nav-link text-center modal-header-links #{if_active_link_helper user_saved_works_path(current_user)}"
.col-md-12
  = link_to "MINE TEKSTER", user_my_works_path(current_user), class: "nav-link text-center modal-header-links #{if_active_link_helper user_my_works_path(current_user)} #{"active-link" if current_page?(user_path(current_user.friendly_id))}"
.col-md-12
  = link_to "OPRET VÆRK", new_user_work_path(current_user), class: "nav-link text-center opret-vaerk modal-header-links"
