<div class="log-content opret-log-in-wrapper">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}", class: "text-center lead" %>
        <% end %>
  <div class="tab-content clearfix">
    <div class="log-body-inner log-in-body tab-pane fade in show active" id="signInField">
      <div class="offset-md-3 col-md-6 offset-lg-4 col-lg-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "Husk mig", class: "form-control", id: "RememberMeLog" %>
      </div>

      <div class="col-md-12 text-center">
        <div class="border-image">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>
        <hr>
        <div class="text-center">
        <%= link_to "Glemt dit kodeord?", new_password_path(resource_name), class: "small forside-tekst-overskrift" %><br />
        </div>

      </div>

    </div><!-- #SignIn -->
  </div>
</div>


