<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<div class="form-group">
	<%= f.label :email, "Email-adresse" %><br />
	<%= f.email_field :email, autofocus: true, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :password, "Kodeord" %><br />
	<%= f.password_field :password, autocomplete: "off", class: "form-control" %>
</div>

<div class="form-group">
	<%= f.check_box :remember_me %>
	<%= f.label :remember_me, "Husk mig", class: "form-control", id: "RememberMeLog" %>
</div>
<hr>
<div class="col-md-12 text-center">
	<div class="border-image">
		<%= f.submit "Log in", class: "btn btn-primary" %>
	</div>
</div>
<% end %>