<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? "Sweig | " + yield(:title) : "Sweig" %></title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="row">
    <div class="large-2 column float-left text-center primary button">HVORFOR</div>
    <div class="large-2 column float-left text-center primary button">HVORDAN</div>
    <div class="large-2 column float-left text-center button">Sweig</div>
    
    <%= link_to "Opret", new_user_path, class: "large-2 column float-left text-center primary button" %>
  </div>

  <div class="row">
    <%= yield %>
  </div>

  </body>
</html>
