<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= set_title_helper %></title>
  <%= favicon_link_tag "favicon.png" %>

  <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Roboto" %>
  <%= stylesheet_link_tag    "countdown" %>
  <%= javascript_include_tag "countdown", 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container mb-4 container-javascript-remote notices">
    <%= yield %>    
  </div>

  </body>

</html>
