<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= set_title_helper %></title>
  <%= favicon_link_tag "favicon.png" %>
  <%= stylesheet_link_tag    "simple_view" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://cdn.rawgit.com/bootstrap-tagsinput/bootstrap-tagsinput/master/src/bootstrap-tagsinput.js", 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

  <%= csrf_meta_tags %>
  <meta property="og:type"          content="website" />
  <% if content_for?(:facebook_title) %>
  <meta property="og:title"         content="<%= yield :facebook_title %>" />
  <% else %>
  <meta property="og:title"         content="Sweig" />
  <% end %>
  <% if content_for?(:facebook_description) %>
  <meta property="og:description"   content="<%= yield :facebook_description %>" />
  <% else %>
  <meta property="og:description"   content="Læs mere" />
  <% end %>
  <meta property="og:image"         content="<%= image_url('logo-facebook') %>" />



</head>

<body>
  <div class="container-fluid form-outer">
    <div class="row">
     <%= yield %>
   </div>
 </div>
</body>

</html>
