<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= set_title %></title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container-fluid user-page">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <%= "|" + @user.name.parameterize %>
        <ul class="nav nav-sidebar">
          <li class="user-nav-items">
            <%= link_to "Opret værk", new_user_work_path(@user) %>
          </li>

        </ul>
      </div>
      <%= yield %>
    </div>
  </div>

</body>
</html>
